/* line 1, ../sass/manager.scss */
.dn {
  display: none;
}

/* line 6, ../sass/manager.scss */
.manager #mealsList {
  border-collapse: separate;
  border-spacing: 8px;
}
/* line 11, ../sass/manager.scss */
.manager .buttonsBlockInMealList {
  margin-bottom: 10px;
}
/* line 14, ../sass/manager.scss */
.manager #addMealButton {
  margin-top: 10px;
}
/* line 17, ../sass/manager.scss */
.manager #linkToAddCategory {
  margin: 0 0 10px 940px;
}
