/* line 1, ../sass/manager.scss */
.dn {
  display: none;
}

/* line 5, ../sass/manager.scss */
.manager {
  text-align: justify;
}
/* line 7, ../sass/manager.scss */
.manager .categoryInMenu {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 13, ../sass/manager.scss */
.manager .buttonsBlockInMealList {
  margin-bottom: 10px;
}
/* line 16, ../sass/manager.scss */
.manager .mealButton {
  margin-top: 10px;
}
/* line 19, ../sass/manager.scss */
.manager #linkToAddCategory {
  margin: 0 0 10px 940px;
}
/* line 22, ../sass/manager.scss */
.manager .description {
  resize: none;
}
