.dn {
  display: none;
}

.manager {
  #mealsList {
    border-collapse: separate;
    border-spacing: 8px;
  }

  .buttonsBlockInMealList {
    margin-bottom: 10px;
  }
  #addMealButton {
    margin-top: 10px;
  }
  #linkToAddCategory {
    margin: 0 0 10px 940px;
  }
}
