.dn {
  display: none;
}

.manager {
  text-align: justify;
  .categoryInMenu {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .buttonsBlock {
    margin-bottom: 10px;
  }
  .mealButton {
    margin-top: 10px;
  }
  .cancelLink {
    margin-top: 10px;
  }
  #linkToAddCategory {
    margin: 0 0 10px 940px;
  }
  .description {
    resize: none;
  }

}
