<template name="managerMealAdd">
    {{#autoForm collection="Meals" id="insertMealForm" type="insert" validation='submit' meteormethod = "addMeal"}}
    <fieldset>

        {{> afQuickField name='name'}}
        {{> afQuickField name='price'}}
        {{> afQuickField name='calories'}}
        {{> afFieldLabel name='category'}}
        {{#afFieldSelect name="category" class='category'}}-->
        {{> managerCategoryList}}
        {{/afFieldSelect}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
</template>
