<template name="managerMealAdd">
    {{#autoForm collection="Meals" id="insertMealForm" type="insert" validation='submit' meteormethod = "addMeal"}}
    <fieldset>

        {{> afQuickField name='name'}}
        {{> afQuickField name='price' class='price'}}
        {{> afQuickField name='calories'}}
        {{> afQuickField name='description' rows=2 class='description'}}
        {{> afQuickField name='weight'}}
        {{> afFieldLabel name='category_id'}}
        <a id="linkToAddCategory" href="{{pathFor 'managerCategoryLayout'}}" class="btn btn-primary">Add category</a>
        {{#afFieldSelect name="category_id" id='category'}}
        {{> managerCategoryList}}
        {{/afFieldSelect}}
    </fieldset>
    <button id="addMealButton" type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
</template>
