<template name="managerMealDelete">
    <ol class="breadcrumb">
        <li><a href="{{pathFor 'main'}}">Home</a></li>
        <li><a href="{{pathFor 'managerMealList'}}">Meals List</a></li>
        <li class="active">Delete Meal</li>
    </ol>
    <div class="well well-sm">
        <h2>Delete Meal</h2>

        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete <strong>{{deletingDoc.name}} </strong>meal from the menu. This operation
            will be irreversible.
        </div>

        {{#autoForm collection='Meals' id="deleteMealForm" doc=deletingDoc type="remove"}}
        <button type="submit" class="btn btn-primary">Delete</button>
        {{/autoForm}}

        <a class="btn btn-warning cancelLink" href="{{pathFor 'managerMealList'}}">Cancel</a>

    </div>
</template>
