<template name="managerMealList">
    <ol class="breadcrumb">
        <li><a href="{{pathFor 'main'}}">Home</a></li>
        <li class="active">Meals List</li>
    </ol>
    <div class="buttonsBlock">
        <a class="btn btn-primary" href="{{pathFor 'managerMealLayout'}}">Add new meal</a>
        <a class="btn btn-primary" href="{{pathFor 'managerCategoryLayout'}}">Add new category</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Calories</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each doc}}
            <tr>
                <th>Category</th>
                <td colspan="5" class="categoryInMenu">{{category}}</td>
            </tr>
            {{#each meals}}
                <tr>
                    <td rowspan="2"></td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{calories}}</td>
                    <td>{{weight}}</td>
                    <td><a href="{{pathFor 'managerMealUpdateLayout'}}" class="btn btn-primary btn-xs">Edit</a>
                        <a href="{{pathFor 'managerMealDelete'}}" class="btn btn-danger btn-xs">Delete</a>
                    </td>
                </tr>
                <tr class="descriptionInMenu">
                    <td colspan="5">{{description}}</td>
                </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>

</template>
